<div class="add-feed">
    <div class="add-feed-content"  ng-if="!showForm">
        <button class="btn btn-success" ng-click="addCategory()">Add feed</button>
        <span ng-if="showFormPreloader" class="spin spin-right icon-spin5"></span>
    </div>

    <div class="content" ng-if="showForm">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="data.name" placeholder="Feed name">
        </div>
        <div class="form-group">
            <p>Choose categories:</p>
            <ul>
                <li ng-repeat="category in categories">
                    <label>
                        <input name="categories[]" ng-model="category.selected" type="checkbox" /> {{category.name}}
                    </label>
                </li>
            </ul>
        </div>

        <div class="form-group">
            <add-category category-create="categoryCreate"></add-category>
        </div>

        <div class="form-group button-group">
            <span ng-if="showFormPreloader" class="spin spin-left icon-spin5"></span>
            <button class="btn btn-success" ng-click="addFeed()" ng-disabled="!data.name || !data.categories.length" >Add feed</button>
            <button class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>

    </div>

</div>